* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.calculatrice {
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px black;
}

.ecran {
    width: 100%;
    height: 100px;
    background-color: rgb(198, 237, 255);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}

.touches {
    display: grid;
    /*modèle de disposition en grille*/
    grid-template-columns: repeat(4, 50px);
    /*4 colonnes*/
    grid-template-rows: repeat(5, 50px);
    /*5 lignes*/
    grid-gap: 7px;
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 3px #a8a8a8;
    font-size: 18px;
}

button:active {
    box-shadow: 0 1px #a8a8a8;
    transform: translateY(2px);
    /*effet bouton enfoncé*/
}

button[data-key="8"] {
    background-color: #ff9900;
    font-weight: bold;
    color: white;
}

button[data-key="13"] {
    grid-column: span 2;
    background-color: greenyellow;
    font-weight: bold;
    color: white;
    font-size: 35px;
}